html, body {
	margin: 0;
	padding: 0;
}

h1 {
	margin: 0;
	padding: 0;
	float: right;
	margin-top: 57px;
}

#content h2 {
	margin:0;
	padding:0;
	padding-bottom: 15px;

}

#content p {
	margin:0;
	padding:0;
	padding-bottom: 15px;
}

 body {
 	font-family: Arial;
 	font-size: 12px;
 	color: #666666;
 	background: #ffffff;
 }



.hidden {
	display:none;
}

#page-container  {

	width: 760px;
	margin: auto;
	padding: 5px;
}

#main-nav { height: 50px; padding-left: 11px;

	font-family: Arial;
	font-size: 20px;
	color: #666666;
	line-height:18px;
}



#header {

	height: 150px;
	background: gray
				url(images/mountains.jpg);


}

#main-nav a {

	color: #666666;
	text-decoration: none;
}

#main-nav a:hover {

	color: #db6d16;
}

#sidebar-a {

	float: right;
	width: 280px;
	padding: 25px;
	line-height: 18px;
}

#content {

	margin-right: 280px;
	padding: 25px;
	line-height: 18px;

}

#footer {

	clear: both;
	font-family: Arial;
	font-size: 10px;
	color: #c9c9c9;
	border-top: 1px solid #efefef;
	padding: 13px 25px;
	line-height: 18px;

}

#footer a {
	color: #c9c9c9;
	text-decoration: none;
}

#footer a:hover {

	color: #db6d16;
}

#footer #altnav {

	width: 350px;
	float: right;
	text-align: right;
}