html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

#landing {
	border-top: 5px solid white;
	background: url(../assets/cell-phone-bg.png) no-repeat center center;
	background-size: cover;
}

#explore-landing {
	border-top: 5px solid black;
	background: white;
}

.toggle-nav {
	display: none;
}

.splash > h2 {
	color: white;
	font-family: 'Montserrat', sans-serif;
}

.splash {
	width: 100%;
	position: absolute;
	top: 50%;
	height:50px;
	margin-top:-25px;
}

.splash-about {
	margin-top: 70px;
	width: 100%;
	position: relative;
	height:100%;
}

.splash-about-box {
	width: 100%;
	max-width: 500px;
	height: 500px;
	position: absolute;
  top: 50%;
  left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 5px;
	padding: 20px;
	background: white;
	font-family: 'Montserrat', sans-serif;
}

#brand-logo {
	display: inline;
	width: 192px;
}

#main-nav,
#main-nav-explore {
	border-top: 5px solid white;
	width: 100%;
	margin: 0 auto;
	height: 70px;
	line-height: 70px;
}

#main-nav ul,
#main-nav-explore ul {
	float: right;
}

#main-nav ul li,
#main-nav-explore ul li {
	padding: 0 7px;
	display: inline-block;
}

#main-nav ul li a,
#main-nav-explore ul li a {
	color: white;
	padding: 10px;
	font-family: 'Montserrat', sans-serif;
}

#main-nav-explore ul li a {
	color: black;
}

#main-nav-explore .active-page {
	border-bottom: 2px solid black;
}

.active-page {
	border-bottom: 2px solid white;
}

.active-page a:hover {
	text-decoration: none;
}

#main-nav ul li:not(.active-page) a:hover,
#main-nav-explore ul li:not(.active-page) a:hover {
	background: rgba(255, 255, 255, 0.25);
	text-decoration: none;
	padding: 8px;
	border: 2px solid white;
	border-radius: 5px;
}

#map {
	border-radius: 25px;
	position: absolute;
	height: 500px;
	width: 750px;
	max-width: 90%;
	max-height: 75%;
	z-index: 5;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: -webkit-translate(-50%, -50%);
}


#main-nav-explore ul li:not(.active-page) a:hover {
	background: rgba(0, 0, 0, 0.25);
}

#main-nav-explore ul li:not(.active-page) a:hover {
	border: 2px solid black;
}

#main-nav > ul > .register > a,
#main-nav-explore > ul > .register > a {
	background: rgba(0, 219, 0, 0.55);
	text-decoration: none;
	padding: 8px;
	border: 2px solid white;
	border-radius: 5px;
}

#main-nav-explore > ul > .register > a {
	background: rgba(0, 219, 0, .45);
	border-color: black;
}

#main-nav > ul > .login > a,
#main-nav-explore > ul > .login > a {
	text-decoration: none;
	padding: 8px;
	border: 2px solid white;
	border-radius: 5px;
}

#main-nav-explore > ul > .login > a {
	border-color: black;
}

#footer {
	width: 100%;
	height: 200px;
	background-color: black;
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: absolute;
}

#footer-top {
	height: 150px;
	width: 100%;
	margin: 0;
	padding: 0;
}

#footer-bottom {
	background-color: #222;
	width: 100%;
	margin: 0;
	padding: 0;
	bottom:0;
}

#footer-bottom > p{
	color: white;
	line-height: 50px;
}

#footer-nav {
	text-align: center;
	width: 100%;
	margin: 0 auto;
}

#footer-nav li {
	line-height: 150px;
	padding: 0 25px;
	display: inline-block;
}

#footer-nav li a{
	color: white;
	font-family: 'Montserrat', sans-serif;
}

#footer-nav li a:hover{
	text-decoration: none;
}

.container-full{
	height: 100%;
	margin-top: -70px;
}

@media (max-width: 750px) {
	#main-nav > ul > li:nth-child(1),
	#main-nav-explore > ul > li:nth-child(1){
		display: none;
	}
}

@media (max-width: 670px) {
	#main-nav > ul > li:nth-child(2),
	#main-nav-explore > ul > li:nth-child(2){
		display: none;
	}
}

@media (max-width: 650px) {

	#brand-logo img {
		display: block;
		margin: 0 auto;
	}

	#main-nav > ul > li:nth-child(-n+2),
	#main-nav-explore > ul > li:nth-child(-n+2){
		display: block;
	}

	#main-nav ul.active,
	#main-nav-explore ul.active {
		position:relative;
		display:inline-block;
		z-index: 10;
	}

	#main-nav ul,
	#main-nav-explore ul {
		display:none;
	}

	#main-nav ul,
	#main-nav-explore ul {
		width:100%;
		position:absolute;
		top:120%;
		left:0px;
		padding:10px 18px;
		box-shadow:0px 1px 1px rgba(0,0,0,0.15);
		border-radius:3px;
		background: rgba(0, 0, 0, 0.9);
	}

	#main-nav ul:after,
	#main-nav-explore ul:after {
		width:0px;
		height:0px;
		position:absolute;
		top:0%;
		right:22px;
		content:'';
		opacity: .9;
		transform:translate(0%, -100%);
		border-left:7px solid transparent;
		border-right:7px solid transparent;
		border-bottom:7px solid black;
	}

	#main-nav ul li,
	#main-nav-explore ul li {
		line-height: 40px;
		margin:5px 0px 5px 0px;
		float:none;
		display:block;
		text-align: center;
	}

	#main-nav a,
	#main-nav-explore a {
		display:block;
	}

	#main-nav-explore ul li a {
		color: white;
	}

	#main-nav-explore > ul > .register > a,
	#main-nav-explore > ul > .login > a  {
		border-color: white;
	}

	#main-nav > ul > li.active-page,
	#main-nav-explore > ul > li.active-page {
		border: none;
	}

	.splash > h2 {
		font-size: 20px;
	}

	.splash-about-box {
		margin: 0;
		border-radius: 0;
		height: 100%;
	}

	.toggle-nav {
		position: absolute;
		top: 0;
		right: 0;
		line-height: 70px;
		padding: 0 15px;
		color: white;
		font-size: 30px;
		float: right;
		display: inline-block;
	}

	.toggle-nav.explore {
		color:black;
	}

	.toggle-nav.explore:matches(:hover, :active, :focus) {
		color: black;
		text-decoration: none;
	}

	.toggle-nav:matches(:hover, :active, :focus) {
		color:white;
		text-decoration: none;
	}

	#footer {
		height: 150px;
	}

	#footer-top {
		height: 100px;
	}

	#footer-nav {
		width: 100%;
	}
	#footer-nav > li {
		line-height: 25px;
		text-align: center;
		list-style: none;
		display: list-item;
		margin-left: -35px;
	}

}
