html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

body{
	background: url(../assets/cell-phone-bg.png) no-repeat center center fixed;
	background-size: cover;
}

@media (max-width: 650px) {

	#brand-logo img {
		display: block;
		margin: 0 auto;
	}

	#main-nav ul {
		display: none;
	}
}

#brand-logo {
	display: inline;
	width: 192px;
}

#main-nav {
	border-top: 5px solid white;
	width: 100%;
	margin: 0 auto;
	height: 70px;
	line-height: 70px;
}

#main-nav ul {
	float: right;
}

#main-nav ul li {
	padding: 0 7px;
	display: inline-block;
}

#main-nav ul li a {
	color: white;
	padding: 10px;
}

#main-nav ul li a:hover {
	background: rgba(255, 255, 255, 0.25);
	text-decoration: none;
	padding: 8px;
	border: 2px solid white;
	border-radius: 5px;
}

.container-full {
	height: 100%;
}
